/* reset */
$min-width: 320px; 
$max-width: 1320px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 1.62em; 
$base-font-family: 'Inter', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */

$color-grey:#606060;
$color-blue:#0B2D62;  
$color-white:#fff;
$color-orange:#FF9900;
$color-dark:#333333;



$color-blue-light:#00B7ED;



